
{{ with .Site.Data.homeblog }}
  {{ if .enable }}
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Güncel Yazılar</h2>
                                <p class="lead fw-normal text-muted mb-5">Son yazılarımdan bazıları</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">

          {{ range first 2 $.Site.RegularPages }}
  <div class="col-sm-6 my-4">
    <div class="card shadow border-0">
      <div class="card-body p-4">
        <div class="rounded-pill mb-2">{{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}</div>
        <a class="text-decoration-none stretched-link" href="{{ .Permalink }}"><h5 class="card-title mb-3">{{ .Title }}</h5></a>
        <p class="card-text">{{ .Summary }}</p>

   <div class="small">
      <div class="text-muted fst-italic mb-2 post-meta metadata">
        {{ $date := .Date.Format "02.01.2006" }}
        {{ $lastmod := .Lastmod.Format "02.01.2006" }}
        <i class='fa fa-calendar'></i>
        <time datetime="{{ $date }}">{{ $lastmod }}</time>
        <i class="fas fa-clock"></i> Reading Time : {{ .ReadingTime }}min
      </div>
   </div>
      </div>
    </div>
  </div>
                            {{ end }}

                            <div class="see-all-post col-12 text-center">
            <a href="{{ "posts" | absURL }}" data-text="{{ .blogButtonText }}" class="btn btn-primary">
              <span>{{ .blogButtonText }}</span>
            </a>


          </div>
    </section>
  {{ end }}
{{ end }}
