
{{ with .Site.Data.homeblog }}
  {{ if .enable }}
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Güncel Yazılar</h2>
                                <p class="lead fw-normal text-muted mb-5">Son yazılarımdan bazıları</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">

          {{ range first 3 $.Site.RegularPages }}
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">

                              {{if .Params.Image }}
                              <a href="{{ .Permalink }}">
                                <img class="card-img-top" src="{{ .Params.Image }}" alt="post-thumb" /></a>
                              {{ else }}
                              <a href="{{ .Permalink }}">
                                <img class="card-img-top" src="/images/naturelle-frozen.jpg" alt="post-image"
                                /></a>
                              {{end}}

                                <div class="card-body p-4">
                                  <div class="rounded-pill mb-2">{{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}</div>
                                  <a class="text-decoration-none link-dark stretched-link" href="{{ .Permalink }}"><h5 class="card-title mb-3">{{ .Title }}</h5></a>

                                </div>
                           <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">

                                            <div class="small">
<div class="text-muted fst-italic mb-2 post-meta metadata">

{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<i class='fa fa-calendar'></i>
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> <span class="separator">•</span>
<i class="fas fa-clock"></i>Reading Time : {{ .ReadingTime }}min
<!--<i class='fa fa-user'></i> <a href="/">{{ .Site.Params.author }}</a>  <span class="separator">•</span>-->

 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
        </div>
                            {{ end }}

                            <div class="see-all-post col-12 text-center">
            <a href="{{ "posts" | absURL }}" data-text="{{ .blogButtonText }}" class="btn btn-primary">
              <span>{{ .blogButtonText }}</span>
            </a>


          </div>
    </section>
  {{ end }}
{{ end }}
