/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Alper.US Website
VERSION:	1.0
-------------------------------------------------------------------*/

// Example of project-name.scss
// Define variables to override default ones

/* Customversion */

// Override default variables
$primary-500: #ff5722;
$primary-600: #f4511e;
$primary-700: #e64a19;

// Import Pico
@import "../node_modules/@picocss/pico/scss/pico";

header h1, header p {
    text-align: center;
}

body>footer ul {
   margin: 0;
   text-align:center;
}

body>footer li {
    display: inline-block;
}

body>footer li:not(:first-child)::before {
    margin: 0 0.25rem;
    content: "·";
}

footer {
  background: var(--card-background-color);
}

.parent {
display: grid;
grid-template-columns: 9fr 3fr;
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: 10px;
}

article.post {
    margin: 0;
}

aside.post {
    margin: 0;
    padding: 3rem 0;
    background-color: var(--card-sectionning-background-color);
}


.badge-btn {
    margin-left: 30px;
    background: #e03a3c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

/* checkbox toggler */
.theme-switch-wrapper {
	display: flex;
	/*margin-top: 1.5em;
	/*margin-left: 2em;*/
}
em {
	margin-top: 0.5em;
	margin-left: 1em;
	font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--switch-checked-background-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
