<div class="hero">

<nav aria-label="Navigation" class="container">

   {{ if or .Site.Menus.main .Site.IsMultiLingual }}
       <ul>

        {{ with .Site.Menus.main}}
          {{ range sort . }}
                <li>
                <a class="contrast nav-link" href="{{ .URL | relLangURL }}">
                {{ .Pre }}
                {{ .Name }}
                </a>
                </li>
          {{ end }}
        {{ end }}


        </ul>

    {{ end }}
        <ul>
          <li>
        {{ if .Site.IsMultiLingual }}
          {{ $node := . }}
          {{ .Scratch.Set "separator" true }}
          {{ range (default .Site.Home.AllTranslations .Translations) }}
            {{ if ne $.Site.Language .Language }}
            <a href="{{ .Permalink }}"  role="button" class="btn btn-danger" style="font-size: 0.75rem;padding: 0 5px;">{{ .Language.LanguageName }}</a>
            {{ end }}
          {{ end }}
        {{ end }}
          </li>
         <li>

          </li>
        </ul>
</nav>

</div>
