<section>
<h2>{{ i18n "notes" }}</h2>
<div class="grid">
        <div class="cards"><i class="bi-collection-fill" style="font-size: 2rem;color: red;display: flex;margin-right: 1rem;float: left;"></i>
          <a href="/categories/open-source"><h3>{{ i18n "open_source" }}</h3></a>
         <p>{{ i18n "open_source_t" }}</p>
        </div>
        <div class="cards"><i class="bi-bag-heart-fill" style="font-size: 2rem;color: red;display: flex;margin-right: 1rem;float: left;"></i>
          <a href="/categories/open-source"><h3>{{ i18n "productivity" }}</h3></a>
          <p>{{ i18n "productivity_t" }}</p>
        </div>
</div>
<div class="grid">
         <div class="cards"><i class="bi-postcard-heart-fill" style="font-size: 2rem;color: red;display: flex;margin-right: 1rem;float: left;"></i>
          <a href="/categories/open-source"><h3>{{ i18n "art" }}</h3></a>
         <p>{{ i18n "art_t" }}</p>
       </div>
         <div class="cards"><i class="bi-chat-quote-fill" style="font-size: 2rem;color: red;display: flex;margin-right: 1rem;float: left;"></i>
          <a href="/categories/open-source"><h3>{{ i18n "quotes" }}</h3></a>
         <p>{{ i18n "quotes_t" }}</p>
       </div>
</div>
</section>

<section>
 <blockquote>
  {{ i18n "quote" }}
  <footer>
    <cite>-  Ragnar Lothbrok</cite>
  </footer>
</blockquote>
</section>
