<h2>Not aldığım konu başlıkları.</h2>
<div class="grid">
        <div><i class="fa fa-collection"></i>
           <h2 class="h5">Açık Kaynak</h2>
           <p>Linux işletim sistemi ve açık kaynak kodlu uygulamalar hakkında edindiğim tecrübeler.</p>
        </div>
        <div><i class="fa fa-building"></i>
        <h2 class="h5">Verimlilik</h2>
        <p>Beslenme, spor, zaman yönetimi, meditasyon ve genel olarak hayat kalitesine etki eden her şey.</p>
        </div>
</div>
 <div class="grid">
                                <div><i class="fa fa-toggles2"></i>
                                    <h2 class="h5">Sanat</h2>
                                    <p class="mb-0">Fotoğrafçılık ve Sinema başta olmak üzere sanata dair konular.</p>
                                </div>
                                <div><i class="fa fa-toggles2"></i>
                                    <h2 class="h5">Alıntılar</h2>
                                    <p class="mb-0">İlham veren, motivasyonu artıran sözler, alıntılar.
                                    </p>
                                </div>
</div>

 <blockquote>
  "Don't waste your time looking back, you're not going that way."
  "Geçmişe bakıp zaman kaybetme, o yöne gitmiyorsun."
  <footer>
    <cite>-  Ragnar Lothbrok</cite>
  </footer>
</blockquote>
