<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">

{{- if site.Params.googlesiteverification }}
<meta name="google-site-verification" content="{{ site.Params.googlesiteverification }}">
{{- end }}
{{- if site.Params.yandexsiteverification }}
<meta name="yandex-verification" content="{{ site.Params.yandexsiteverification }}">
{{- end }}
{{- if site.Params.bingsiteverification }}
<meta name="msvalidate.01" content="{{ site.Params.bingsiteverification }}">
{{- end }}


{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">
{{ end }}

<meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">

<meta name="keywords" content="{{ (delimit .Keywords ", ") | default .Site.Params.keywords }}">

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
