 {{ "<!--Favicon-->" | safeHTML }}
 <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
 <link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">


<link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/favicon-32x32.png" | relURL }}" sizes="32x32">

<link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/favicon-16x16.png" | relURL }}" sizes="16x16">

<link rel="apple-touch-icon" href="{{ .Site.Params.touchicon | default "/apple-touch-icon.png" | relURL }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.touchicon | default "/apple-touch-icon.png" | relURL }}">


<link rel="mask-icon" href="{{ .Site.Params.mask_icon | default "/safari-pinned-tab.svg" | relURL }}" color="{{ .Site.Params.mask_icon_color | default "#5bbad5" }}">
