{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

<section class="topics">
  <header>
        <h1>{{- if eq .Kind "term" -}}
            {{- i18n .Data.Singular | title -}}
            {{- print ": " -}}
            {{- end -}}
            {{- .Title -}}
        </h1>
        <h2>
          {{ .Params.description }}
        </h2>
  </header>
</section>


<section>


  <div class="post-list">

    {{ range .Pages }}
    <article class="h-entry post" style=" padding: 2em;">
      <hgroup>
        <time class="dt-published" class="post__date" datetime="{{ .Date }}"
          >{{ .Date.Format $dateFormat }}</time>
        <h2 class="p-name post__title">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
      </hgroup>
    </article>
    {{ end }}

  </div>
                    <!-- Pagination-->

                    <nav aria-label="Pagination">
                        <hr>
                        {{ template "_internal/pagination.html" . }}
                    </nav>

</section>

{{ end }}
