{{ define "main" }}

{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

         <article>

  <ul class="post-list">
    {{ range .Pages }}
    <li class="post">
      <hgroup>
        <time class="post__date" datetime="{{ .Date }}"
          >{{ .Date.Format $dateFormat }}</time>
        <h2 class="post__title">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
      </hgroup>
    </li>
    {{ end }}
  </ul>
                    <!-- Pagination-->
                    <footer>
                    <nav aria-label="Pagination">
                        <hr>
                        {{ template "_internal/pagination.html" . }}
                    </nav>
                    </footer>
         </article>

{{ end }}
